spec:
  moduleLoader:
    container:
      version: "{{ version }}"
      kernelMappings:
        - literal: "{{ kernel_version }}-amd64"
          containerImage: "{{ kmm_container_image_registry }}:amd64-hw"
        - literal: "{{ kernel_version }}-rt-amd64"
          containerImage: "{{ kmm_container_image_registry }}:rt-amd64-hw"
