apiVersion: v1
kind: Pod
metadata:
  name: affinity-s1-pod
  labels:
    security: S1
spec:
  nodeSelector:
    kubernetes.io/hostname: {{ target_node }}
  containers:
  - name: affinity-s1-container
    image: nginx:stable-alpine
