watchdog
robotframework==3.1.1
robotframework-seleniumlibrary
robotframework-sshlibrary
pexpect
PyYaml==5.4.1
netifaces
bash
elevate
git+https://github.com/rlisagor/pynetlinux.git@master#egg=pynetlinux
kmodpy
psutil
