[DEFAULT]

ocloud_global_id = {{ ocloud_global_id }}
smo_register_url = {{ smo_register_url }}
smo_token_data = {{ smo_token_data }}

[OCLOUD]
OS_AUTH_URL = {{ os_auth_url }}
OS_USERNAME = {{ os_username }}
OS_PASSWORD = {{ os_password }}
API_HOST_EXTERNAL_FLOATING = {{ api_host_external_floating }}


[API]

[WATCHER]

[PUBSUB]
{% if oauth2_public_key %}
[OAUTH2]
oauth2_verify_type = {{ oauth2_verify_type }}
oauth2_algorithm = {{ oauth2_algorithm }}
oauth2_public_key = {{ oauth2_public_key }}
{% endif %}
